USE [master]
GO
/****** Object:  Database [online_courses]    Script Date: 20.05.2025 22:19:14 ******/
CREATE DATABASE [online_courses]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'online_courses', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLEXPRESS\MSSQL\DATA\online_courses.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'online_courses_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLEXPRESS\MSSQL\DATA\online_courses_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [online_courses].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [online_courses]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 20.05.2025 22:19:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[category_ID] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_categories] PRIMARY KEY CLUSTERED 
(
	[category_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chat_messages]    Script Date: 20.05.2025 22:19:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chat_messages](
	[message_ID] [int] IDENTITY(1,1) NOT NULL,
	[users_ID] [int] NOT NULL,
	[support_ID] [int] NULL,
	[message_text] [nvarchar](max) NOT NULL,
	[message_date] [datetime] NOT NULL,
	[is_read] [bit] NOT NULL,
 CONSTRAINT [PK_chat_messages] PRIMARY KEY CLUSTERED 
(
	[message_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[complaints]    Script Date: 20.05.2025 22:19:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[complaints](
	[complaint_ID] [int] IDENTITY(1,1) NOT NULL,
	[complaint_type] [nvarchar](50) NOT NULL,
	[target_ID] [int] NOT NULL,
	[users_ID] [int] NOT NULL,
	[complaint_text] [nvarchar](max) NOT NULL,
	[complaint_date] [date] NOT NULL,
	[status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_complaints] PRIMARY KEY CLUSTERED 
(
	[complaint_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[course_grades]    Script Date: 20.05.2025 22:19:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[course_grades](
	[grade_ID] [int] IDENTITY(1,1) NOT NULL,
	[users_ID] [int] NULL,
	[course_ID] [int] NULL,
	[grade] [decimal](5, 2) NOT NULL,
	[grade_date] [date] NOT NULL,
 CONSTRAINT [PK_course_grades] PRIMARY KEY CLUSTERED 
(
	[grade_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[course_reviews]    Script Date: 20.05.2025 22:19:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[course_reviews](
	[review_ID] [int] IDENTITY(1,1) NOT NULL,
	[course_ID] [int] NOT NULL,
	[users_ID] [int] NOT NULL,
	[review_text] [nvarchar](max) NOT NULL,
	[review_date] [date] NOT NULL,
	[rating] [int] NOT NULL,
 CONSTRAINT [PK_course_reviews] PRIMARY KEY CLUSTERED 
(
	[review_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[courses]    Script Date: 20.05.2025 22:19:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[courses](
	[course_ID] [int] IDENTITY(1,1) NOT NULL,
	[course_name] [nvarchar](100) NOT NULL,
	[course_description] [nvarchar](max) NULL,
	[course_cost] [int] NULL,
	[course_category] [int] NULL,
	[course_author] [int] NULL,
 CONSTRAINT [PK_courses] PRIMARY KEY CLUSTERED 
(
	[course_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[exam_results]    Script Date: 20.05.2025 22:19:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exam_results](
	[exam_results_ID] [int] IDENTITY(1,1) NOT NULL,
	[exam_ID] [int] NULL,
	[users_ID] [int] NULL,
	[score] [decimal](5, 2) NULL,
	[result_date] [date] NULL,
 CONSTRAINT [PK_exam_results] PRIMARY KEY CLUSTERED 
(
	[exam_results_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[exams]    Script Date: 20.05.2025 22:19:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exams](
	[exam_ID] [int] IDENTITY(1,1) NOT NULL,
	[course_ID] [int] NULL,
	[duration] [int] NOT NULL,
	[attempts] [int] NOT NULL,
	[exam_date] [date] NULL,
 CONSTRAINT [PK_exams] PRIMARY KEY CLUSTERED 
(
	[exam_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[modules]    Script Date: 20.05.2025 22:19:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[modules](
	[module_ID] [int] IDENTITY(1,1) NOT NULL,
	[module_name] [nvarchar](100) NOT NULL,
	[course_ID] [int] NULL,
	[module_description] [nvarchar](max) NULL,
 CONSTRAINT [PK_modules] PRIMARY KEY CLUSTERED 
(
	[module_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 20.05.2025 22:19:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[role_ID] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](50) NOT NULL,
	[role_description] [nvarchar](max) NULL,
 CONSTRAINT [PK_roles] PRIMARY KEY CLUSTERED 
(
	[role_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[test_results]    Script Date: 20.05.2025 22:19:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test_results](
	[test_results_ID] [int] IDENTITY(1,1) NOT NULL,
	[test_ID] [int] NULL,
	[users_ID] [int] NULL,
	[score] [decimal](5, 2) NULL,
	[result_date] [date] NULL,
 CONSTRAINT [PK_test_results] PRIMARY KEY CLUSTERED 
(
	[test_results_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tests]    Script Date: 20.05.2025 22:19:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tests](
	[test_ID] [int] IDENTITY(1,1) NOT NULL,
	[module_ID] [int] NULL,
	[question] [nvarchar](max) NOT NULL,
	[answer_options] [nvarchar](max) NOT NULL,
	[correct_answer] [nvarchar](255) NULL,
 CONSTRAINT [PK_tests] PRIMARY KEY CLUSTERED 
(
	[test_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_profiles]    Script Date: 20.05.2025 22:19:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_profiles](
	[profile_ID] [int] IDENTITY(1,1) NOT NULL,
	[users_ID] [int] NOT NULL,
	[users_name] [nvarchar](50) NOT NULL,
	[users_surname] [nvarchar](50) NOT NULL,
	[users_patronymic] [nvarchar](50) NOT NULL,
	[users_email] [nvarchar](100) NOT NULL,
	[users_phone] [nvarchar](15) NULL,
 CONSTRAINT [PK_user_profiles] PRIMARY KEY CLUSTERED 
(
	[profile_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 20.05.2025 22:19:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[users_ID] [int] IDENTITY(1,1) NOT NULL,
	[users_login] [nvarchar](50) NOT NULL,
	[users_password] [nvarchar](255) NOT NULL,
	[users_role_ID] [int] NULL,
	[access_code] [char](8) NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[users_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([category_ID], [category_name]) VALUES (2, N'Дизайн')
INSERT [dbo].[categories] ([category_ID], [category_name]) VALUES (1, N'Программирование')
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[chat_messages] ON 

INSERT [dbo].[chat_messages] ([message_ID], [users_ID], [support_ID], [message_text], [message_date], [is_read]) VALUES (3, 18, 19, N'ку', CAST(N'2025-05-07T11:24:09.520' AS DateTime), 0)
INSERT [dbo].[chat_messages] ([message_ID], [users_ID], [support_ID], [message_text], [message_date], [is_read]) VALUES (4, 18, 19, N'ээээ', CAST(N'2025-05-07T11:30:20.997' AS DateTime), 0)
INSERT [dbo].[chat_messages] ([message_ID], [users_ID], [support_ID], [message_text], [message_date], [is_read]) VALUES (5, 19, 18, N'ну чё', CAST(N'2025-05-07T11:30:32.747' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[chat_messages] OFF
GO
SET IDENTITY_INSERT [dbo].[complaints] ON 

INSERT [dbo].[complaints] ([complaint_ID], [complaint_type], [target_ID], [users_ID], [complaint_text], [complaint_date], [status]) VALUES (1, N'review', 2, 20, N'Причина: Нарушение правил
Описание: dsad', CAST(N'2025-05-07' AS Date), N'Отклонена')
INSERT [dbo].[complaints] ([complaint_ID], [complaint_type], [target_ID], [users_ID], [complaint_text], [complaint_date], [status]) VALUES (2, N'review', 2, 20, N'Причина: Нарушение правил
Описание: d', CAST(N'2025-05-07' AS Date), N'Одобрена')
SET IDENTITY_INSERT [dbo].[complaints] OFF
GO
SET IDENTITY_INSERT [dbo].[course_grades] ON 

INSERT [dbo].[course_grades] ([grade_ID], [users_ID], [course_ID], [grade], [grade_date]) VALUES (2, 1, 1, CAST(5.00 AS Decimal(5, 2)), CAST(N'2025-05-06' AS Date))
INSERT [dbo].[course_grades] ([grade_ID], [users_ID], [course_ID], [grade], [grade_date]) VALUES (3, 1, 3, CAST(5.00 AS Decimal(5, 2)), CAST(N'2025-05-07' AS Date))
SET IDENTITY_INSERT [dbo].[course_grades] OFF
GO
SET IDENTITY_INSERT [dbo].[course_reviews] ON 

INSERT [dbo].[course_reviews] ([review_ID], [course_ID], [users_ID], [review_text], [review_date], [rating]) VALUES (1, 1, 1, N'322', CAST(N'2025-05-14' AS Date), 4)
SET IDENTITY_INSERT [dbo].[course_reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[courses] ON 

INSERT [dbo].[courses] ([course_ID], [course_name], [course_description], [course_cost], [course_category], [course_author]) VALUES (1, N'прогеры322', N'Что представляют собой паттерны проектирования? Паттерн представляет определенный способ построения программного кода для решения часто встречающихся проблем проектирования. В данном случае предполагается, что есть некоторый набор общих формализованных проблем, которые довольно часто встречаются, и паттерны предоставляют ряд принципов для решения этих проблем.', NULL, 1, 5)
INSERT [dbo].[courses] ([course_ID], [course_name], [course_description], [course_cost], [course_category], [course_author]) VALUES (3, N'Проверка', N'Проверяем курс', NULL, 1, 5)
SET IDENTITY_INSERT [dbo].[courses] OFF
GO
SET IDENTITY_INSERT [dbo].[modules] ON 

INSERT [dbo].[modules] ([module_ID], [module_name], [course_ID], [module_description]) VALUES (3, N'Проверка модуля', 3, N'Проверка модуля')
INSERT [dbo].[modules] ([module_ID], [module_name], [course_ID], [module_description]) VALUES (4, N'Новый модуль', 4, N'')
SET IDENTITY_INSERT [dbo].[modules] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([role_ID], [role_name], [role_description]) VALUES (1, N'admin', N'Administrator with full access to the system. Can manage users, courses, and other system settings.')
INSERT [dbo].[roles] ([role_ID], [role_name], [role_description]) VALUES (2, N'teacher', N'Teacher or Instructor who creates, manages, and grades courses.')
INSERT [dbo].[roles] ([role_ID], [role_name], [role_description]) VALUES (3, N'student', N'Student enrolled in courses to learn and complete assignments.')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[test_results] ON 

INSERT [dbo].[test_results] ([test_results_ID], [test_ID], [users_ID], [score], [result_date]) VALUES (1, 1, 1, CAST(100.00 AS Decimal(5, 2)), CAST(N'2025-05-06' AS Date))
INSERT [dbo].[test_results] ([test_results_ID], [test_ID], [users_ID], [score], [result_date]) VALUES (2, 1, 1, CAST(100.00 AS Decimal(5, 2)), CAST(N'2025-05-06' AS Date))
INSERT [dbo].[test_results] ([test_results_ID], [test_ID], [users_ID], [score], [result_date]) VALUES (3, 1, 1, CAST(100.00 AS Decimal(5, 2)), CAST(N'2025-05-06' AS Date))
SET IDENTITY_INSERT [dbo].[test_results] OFF
GO
SET IDENTITY_INSERT [dbo].[tests] ON 

INSERT [dbo].[tests] ([test_ID], [module_ID], [question], [answer_options], [correct_answer]) VALUES (1, 1, N'Какой паттерн является поведенческим?', N'Наблюдатель;Мост;Одиночка', N'Наблюдатель')
INSERT [dbo].[tests] ([test_ID], [module_ID], [question], [answer_options], [correct_answer]) VALUES (3, 3, N'Тест для модуля: Проверка модуля', N'Вариант 1;Вариант 2;Вариант 3;Вариант 4', N'1')
INSERT [dbo].[tests] ([test_ID], [module_ID], [question], [answer_options], [correct_answer]) VALUES (4, 4, N'Один из главных принципов абстракционизма — это...', N'Точное копирование реальности в мельчайших деталях.;Использование только черно-белой цветовой гаммы.;Отказ от изображения конкретных объектов или предметов, то есть от фигуративности.;Создание исключительно портретов известных личностей.', N'3')
SET IDENTITY_INSERT [dbo].[tests] OFF
GO
SET IDENTITY_INSERT [dbo].[user_profiles] ON 

INSERT [dbo].[user_profiles] ([profile_ID], [users_ID], [users_name], [users_surname], [users_patronymic], [users_email], [users_phone]) VALUES (1, 1, N'студент', N'студент', N'студент', N'студент', N'студент')
INSERT [dbo].[user_profiles] ([profile_ID], [users_ID], [users_name], [users_surname], [users_patronymic], [users_email], [users_phone]) VALUES (2, 18, N'Ilya', N'ser', N'', N'ilya@gmail.com', NULL)
INSERT [dbo].[user_profiles] ([profile_ID], [users_ID], [users_name], [users_surname], [users_patronymic], [users_email], [users_phone]) VALUES (3, 19, N'', N'', N'', N'ilya2@gmail.com', NULL)
SET IDENTITY_INSERT [dbo].[user_profiles] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([users_ID], [users_login], [users_password], [users_role_ID], [access_code]) VALUES (1, N'student1', N'509e87a6c45ee0a3c657bf946dd6dc43d7e5502143be195280f279002e70f7d9', 3, NULL)
INSERT [dbo].[users] ([users_ID], [users_login], [users_password], [users_role_ID], [access_code]) VALUES (5, N'teacher1', N'd6a78e7024124b13ef172b5853e9c63943a618655af216be3cfa02b519eb8455', 2, NULL)
INSERT [dbo].[users] ([users_ID], [users_login], [users_password], [users_role_ID], [access_code]) VALUES (6, N'eleaxxxxx', N'769fa490b12db4265f3aba3562b4ecd76abd2b65f0309b31dbfc160a6383a51a', 1, N'11111111')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_categories_name]    Script Date: 20.05.2025 22:19:14 ******/
ALTER TABLE [dbo].[categories] ADD  CONSTRAINT [UQ_categories_name] UNIQUE NONCLUSTERED 
(
	[category_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_users_login]    Script Date: 20.05.2025 22:19:14 ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UQ_users_login] UNIQUE NONCLUSTERED 
(
	[users_login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[chat_messages] ADD  DEFAULT (getdate()) FOR [message_date]
GO
ALTER TABLE [dbo].[chat_messages] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[complaints] ADD  DEFAULT (getdate()) FOR [complaint_date]
GO
ALTER TABLE [dbo].[complaints] ADD  DEFAULT (N'new') FOR [status]
GO
ALTER TABLE [dbo].[course_grades] ADD  DEFAULT (getdate()) FOR [grade_date]
GO
ALTER TABLE [dbo].[course_reviews] ADD  DEFAULT (getdate()) FOR [review_date]
GO
ALTER TABLE [dbo].[exams] ADD  CONSTRAINT [DF_exams_duration]  DEFAULT ((60)) FOR [duration]
GO
ALTER TABLE [dbo].[exams] ADD  CONSTRAINT [DF_exams_attempts]  DEFAULT ((3)) FOR [attempts]
GO
ALTER TABLE [dbo].[chat_messages]  WITH CHECK ADD  CONSTRAINT [FK_chat_messages_support] FOREIGN KEY([support_ID])
REFERENCES [dbo].[users] ([users_ID])
GO
ALTER TABLE [dbo].[chat_messages] CHECK CONSTRAINT [FK_chat_messages_support]
GO
ALTER TABLE [dbo].[chat_messages]  WITH CHECK ADD  CONSTRAINT [FK_chat_messages_users] FOREIGN KEY([users_ID])
REFERENCES [dbo].[users] ([users_ID])
GO
ALTER TABLE [dbo].[chat_messages] CHECK CONSTRAINT [FK_chat_messages_users]
GO
ALTER TABLE [dbo].[complaints]  WITH CHECK ADD  CONSTRAINT [FK_complaints_users] FOREIGN KEY([users_ID])
REFERENCES [dbo].[users] ([users_ID])
GO
ALTER TABLE [dbo].[complaints] CHECK CONSTRAINT [FK_complaints_users]
GO
ALTER TABLE [dbo].[course_grades]  WITH CHECK ADD  CONSTRAINT [FK_course_grades_courses] FOREIGN KEY([course_ID])
REFERENCES [dbo].[courses] ([course_ID])
GO
ALTER TABLE [dbo].[course_grades] CHECK CONSTRAINT [FK_course_grades_courses]
GO
ALTER TABLE [dbo].[course_grades]  WITH CHECK ADD  CONSTRAINT [FK_course_grades_users] FOREIGN KEY([users_ID])
REFERENCES [dbo].[users] ([users_ID])
GO
ALTER TABLE [dbo].[course_grades] CHECK CONSTRAINT [FK_course_grades_users]
GO
ALTER TABLE [dbo].[course_reviews]  WITH CHECK ADD  CONSTRAINT [FK_course_reviews_courses] FOREIGN KEY([course_ID])
REFERENCES [dbo].[courses] ([course_ID])
GO
ALTER TABLE [dbo].[course_reviews] CHECK CONSTRAINT [FK_course_reviews_courses]
GO
ALTER TABLE [dbo].[course_reviews]  WITH CHECK ADD  CONSTRAINT [FK_course_reviews_users] FOREIGN KEY([users_ID])
REFERENCES [dbo].[users] ([users_ID])
GO
ALTER TABLE [dbo].[course_reviews] CHECK CONSTRAINT [FK_course_reviews_users]
GO
ALTER TABLE [dbo].[courses]  WITH CHECK ADD  CONSTRAINT [FK_courses_categories] FOREIGN KEY([course_category])
REFERENCES [dbo].[categories] ([category_ID])
GO
ALTER TABLE [dbo].[courses] CHECK CONSTRAINT [FK_courses_categories]
GO
ALTER TABLE [dbo].[courses]  WITH CHECK ADD  CONSTRAINT [FK_courses_users] FOREIGN KEY([course_author])
REFERENCES [dbo].[users] ([users_ID])
GO
ALTER TABLE [dbo].[courses] CHECK CONSTRAINT [FK_courses_users]
GO
ALTER TABLE [dbo].[exam_results]  WITH CHECK ADD  CONSTRAINT [FK_exam_results_exams] FOREIGN KEY([exam_ID])
REFERENCES [dbo].[exams] ([exam_ID])
GO
ALTER TABLE [dbo].[exam_results] CHECK CONSTRAINT [FK_exam_results_exams]
GO
ALTER TABLE [dbo].[exam_results]  WITH CHECK ADD  CONSTRAINT [FK_exam_results_users] FOREIGN KEY([users_ID])
REFERENCES [dbo].[users] ([users_ID])
GO
ALTER TABLE [dbo].[exam_results] CHECK CONSTRAINT [FK_exam_results_users]
GO
ALTER TABLE [dbo].[exams]  WITH CHECK ADD  CONSTRAINT [FK_exams_courses] FOREIGN KEY([course_ID])
REFERENCES [dbo].[courses] ([course_ID])
GO
ALTER TABLE [dbo].[exams] CHECK CONSTRAINT [FK_exams_courses]
GO
ALTER TABLE [dbo].[modules]  WITH CHECK ADD  CONSTRAINT [FK_modules_courses] FOREIGN KEY([course_ID])
REFERENCES [dbo].[courses] ([course_ID])
GO
ALTER TABLE [dbo].[modules] CHECK CONSTRAINT [FK_modules_courses]
GO
ALTER TABLE [dbo].[test_results]  WITH CHECK ADD  CONSTRAINT [FK_test_results_tests] FOREIGN KEY([test_ID])
REFERENCES [dbo].[tests] ([test_ID])
GO
ALTER TABLE [dbo].[test_results] CHECK CONSTRAINT [FK_test_results_tests]
GO
ALTER TABLE [dbo].[test_results]  WITH CHECK ADD  CONSTRAINT [FK_test_results_users] FOREIGN KEY([users_ID])
REFERENCES [dbo].[users] ([users_ID])
GO
ALTER TABLE [dbo].[test_results] CHECK CONSTRAINT [FK_test_results_users]
GO
ALTER TABLE [dbo].[tests]  WITH CHECK ADD  CONSTRAINT [FK_tests_modules] FOREIGN KEY([module_ID])
REFERENCES [dbo].[modules] ([module_ID])
GO
ALTER TABLE [dbo].[tests] CHECK CONSTRAINT [FK_tests_modules]
GO
ALTER TABLE [dbo].[user_profiles]  WITH CHECK ADD  CONSTRAINT [FK_user_profiles_users] FOREIGN KEY([users_ID])
REFERENCES [dbo].[users] ([users_ID])
GO
ALTER TABLE [dbo].[user_profiles] CHECK CONSTRAINT [FK_user_profiles_users]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_roles] FOREIGN KEY([users_role_ID])
REFERENCES [dbo].[roles] ([role_ID])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_roles]
GO
USE [master]
GO
